In [1]:
# Import the libraries
import numpy as np
import pandas as pd

# Check if proper versions are used
print(pd.__version__)
print(np.__version__)

0.24.2
1.16.2

In [12]:
# Read the dataset
df = pd.read_csv("LBW_Dataset.csv")

In [13]:
# Data Preprocessing

# Drop the columns Delivery Phase(1: 90, 2: 2, NaN: 4) and Education(5: 93, NaN: 3)
df = df.drop(["Delivery phase", "Education"], axis = 1)

# Replacing Community = 2(count = 1) with Community = 1
df["Community"] = np.where(df["Community"] == 2, 1, df["Community"])

# For now, Filling Numeric Columned Values with Mean, still have to take care of Outliers
df["Age"] = df["Age"].fillna(df["Age"].mean())
df["Weight"] = df["Weight"].fillna(df["Weight"].mean())
df["HB"] = df["HB"].fillna(df["HB"].mean())
df["BP"] = df["BP"].fillna(df["BP"].mean())

# Labelling Residence = 2 as Residence = 0 to get Binary Labelled Column (Before: Residence(1,2), After: Residence(1,0))
df["Residence"] = np.where(df["Residence"] == 2, 0, df["Residence"])
# Filling NaN with Mode = 1
df["Residence"] = df["Residence"].fillna(1)

# One-Hot-Encode Community(1,3,4) to Community_1(1,0), Community_3(1,0), Community_4(1,0)
df = pd.get_dummies(df, columns=["Community"], dtype = float)

# Converting IFA(int) to IFA(float)
df["IFA"] = df["IFA"].astype(float)

# Moving converted Float Result, to get it as the last Column
res = df["Result"].astype(float)
df = df.drop(["Result"], axis = 1)
df["Result"] = res

In [14]:
df.describe()

,Age,Weight,HB,IFA,BP,Residence,Community_1,Community_3,Community_4,Result
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,23.752809,45.129412,9.076623,0.687500,1.725189,0.864583,0.500000,0.333333,0.166667,0.750000
std,3.196317,7.725267,0.704855,0.465946,1.330104,0.343964,0.502625,0.473879,0.374634,0.435286
min,17.000000,30.000000,5.900000,0.000000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,40.000000,9.000000,0.000000,1.375000,1.000000,0.000000,0.000000,0.000000,0.750000
50%,24.000000,45.000000,9.076623,1.000000,1.571429,1.000000,0.500000,0.000000,0.000000,1.000000
75%,25.250000,49.250000,9.200000,1.000000,1.714286,1.000000,1.000000,1.000000,0.000000,1.000000
max,38.000000,65.000000,11.000000,1.000000,13.875000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
df.dtypes

Age            float64
Weight         float64
HB             float64
IFA            float64
BP             float64
Residence      float64
Community_1    float64
Community_3    float64
Community_4    float64
Result         float64
dtype: object